<a href="https://colab.research.google.com/github/data-space/datalab-notebooks/blob/master/Python/9.%20Temporary/Workshop_Scikit_learn_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scikit-learn Workshop - 19 Nov 2019

## Setup

In [0]:
import pandas  as pd
import numpy   as np
import sklearn as sk

### Iris dataset

In [0]:
import pandas as pd
from sklearn.datasets import load_iris
iris_features = load_iris().data[:,1:]
iris_target   = load_iris().data[:,:1]

### Diamonds dataset

In [20]:
import pandas as pd
diamonds_pdf = pd.read_csv('https://raw.githubusercontent.com/datalab-datasets/file-samples/master/diamonds.csv').drop(columns='Unnamed: 0')
diamonds_pdf.columns
diamonds_features = diamonds_pdf.drop(labels='price',axis=1)[['x','y','z']]
diamonds_target = diamonds_pdf['price']
diamonds_features.head()

      x     y     z
0  3.95  3.98  2.43
1  3.89  3.84  2.31
2  4.05  4.07  2.31
3  4.20  4.23  2.63
4  4.34  4.35  2.75

In [0]:
def get_boston_housing_pdf(): # for boston housing dataset
  from sklearn.datasets import load_boston
  feature_names = [name.lower() 
                   for name in load_boston().get('feature_names').tolist()
                  ]
  features_pdf = pd.DataFrame(data=load_boston().get('data'),
                              columns=feature_names
                             )
  target_pdf = pd.DataFrame(data={'price': load_boston().get('target')}
                           )
  return pd.concat([features_pdf, target_pdf],
                   axis='columns',
                   join='inner')

In [22]:
boston_housing_pdf = get_boston_housing_pdf().select_dtypes(include=['float','int'])

boston_housing_features = boston_housing_pdf.drop(labels='price',axis=1)
boston_housing_target = boston_housing_pdf['price']
boston_housing_features.head()

      crim    zn  indus  chas    nox  ...  rad    tax  ptratio       b  lstat
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

Our first step is to create a train dataset and a test dataset from our dataset, which is `iris_features` and `iris_target`. Use the `train_test_split` function from the `sklearn` library to do so.

In [0]:
from sklearn.model_selection import train_test_split
iris_x_train, iris_x_test, iris_y_train, iris_y_test = train_test_split(iris_features,
                                                                        iris_target)

Notice that the train dataset is `iris_x_train` and `iris_y_train`, which correspond to the features and the target.

__Exercise__: create train and test datasets 
- for the `diamonds_features`, `diamonds_target` dataset called `diamonds_x_train`, `diamonds_x_test`, `diamonds_y_train`, `diamonds_y_test`
- for the `boston_housing_features`,`boston_housing_target` dataset called `boston_x_train`, `boston_x_test`, `boston_y_train`, `boston_y_test`

In both cases put the result of the

## Algorithms to models to prediction

Linear regression is an algorithm. This algorithm (and many others) have parameters that determine how they work. The Scikit-learn version of the linear regression algorithm has parameters named `copy_X`, `fit_intercept`, `n_jobs`, `normalize`. The values indicated below are defaults.

In [26]:
from sklearn.linear_model import LinearRegression
iris_linreg_algorithm = LinearRegression()
iris_linreg_algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

__Exercise__: Create algorithm objects for diamonds and boston, named `diamonds_linreg_algorithm` and `boston_linreg_algorithm`.

Recall that algorithms take train datasets as input and produce models as output. We do this for the iris dataset below, using the `fit` method of the .

In [27]:
iris_linreg_model = iris_linreg_algorithm.fit(X=iris_x_train,
                                              y=iris_y_train)
iris_linreg_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

__Exercise__: Create model objects for diamonds and boston, named `diamonds_linreg_model` and `boston_linreg_model`. Use the corresponding train dataset.

Recall that models take test datasets as input and produce predictions as output. We do this for the iris dataset below, using the `predict` method.

In [28]:
iris_linreg_predictions = iris_linreg_model.predict(X=iris_x_train)
iris_linreg_predictions

array([[5.85393458],
       [4.80533528],
       [6.09997492],
       [6.06442704],
       [5.71771392],
       [5.13308871],
       [5.69636167],
       [6.08577928],
       [4.94077246],
       [6.15130645],
       [6.71765892],
       [5.91242273],
       [6.08419126],
       [4.05818495],
       [5.59052257],
       [4.88745064],
       [6.04904565],
       [4.97482885],
       [6.72320646],
       [4.87602877],
       [6.10156294],
       [6.9072014 ],
       [5.98072366],
       [7.20893506],
       [6.87364381],
       [5.21996812],
       [6.39258273],
       [4.73305377],
       [5.10161793],
       [5.99373355],
       [4.80533528],
       [6.43448269],
       [7.80050277],
       [6.53953831],
       [5.21996812],
       [7.21369912],
       [5.0126517 ],
       [5.46600846],
       [5.54930956],
       [6.37957285],
       [6.27650751],
       [6.52095983],
       [6.50159787],
       [4.50637539],
       [5.01106368],
       [6.22240221],
       [4.73305377],
       [5.37754102],
       [6.2930957 ],
       [6.11575857],
       [5.39372695],
       [5.6162366 ],
       [6.558498  ],
       [6.17424672],
       [5.96534228],
       [6.13670855],
       [5.45032134],
       [6.46486424],
       [6.29269343],
       [6.44948286],
       [6.84127197],
       [5.17072341],
       [6.6583873 ],
       [4.79739519],
       [4.94513424],
       [5.11095298],
       [5.08334519],
       [6.4550304 ],
       [5.56957259],
       [6.2389904 ],
       [4.92617455],
       [6.58380976],
       [5.61107028],
       [4.66236028],
       [6.22041192],
       [6.33101508],
       [4.80374726],
       [5.0126517 ],
       [4.8069233 ],
       [5.21520406],
       [6.78636213],
       [6.16908039],
       [6.49098055],
       [5.0356885 ],
       [6.29428145],
       [7.33612641],
       [4.71845586],
       [6.24057842],
       [4.9068126 ],
       [6.29586947],
       [6.95028711],
       [7.32152851],
       [6.87681985],
       [6.10632699],
       [5.97875443],
       [6.6955232 ],
       [5.96970406],
       [5.43771372],
       [5.47127131],
       [6.74685473],
       [4.59643084],
       [5.99214553],
       [6.30729134],
       [6.71884467],
       [5.8555226 ],
       [7.90674414],
       [4.88903866],
       [4.87285273],
       [7.18561359],
       [5.15403868],
       [7.16594589],
       [4.66553631]])

__Exercise__: Create predictions for diamonds and for boston named `diamonds_linreg_predictions` and `boston_linreg_predictions`.

In [29]:
iris_linreg_model.score(X=iris_x_test,
                        y=iris_y_test)

0.8105684480580035

__Exercise__: Create a score for the predictions for diamonds and for boston named `diamonds_linreg_score` and `boston_linreg_score`.

## Try other algorithms

Below we swap in the decision tree algorithm at the beginning of the sequence, but notice that the remaining steps are the same.

In [30]:
from sklearn.tree import DecisionTreeRegressor
iris_decisiontree_algorithm = DecisionTreeRegressor()
iris_decisiontree_algorithm

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [31]:
iris_decisiontree_model = iris_decisiontree_algorithm.fit(X=iris_x_train,
                                                          y=iris_y_train)
iris_decisiontree_model

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [35]:
iris_decisiontree_score = iris_decisiontree_model.score(X=iris_x_test,
                                                        y=iris_y_test)
iris_decisiontree_score

0.7467125624650874

In [33]:
iris_decisiontree_predictions = iris_decisiontree_model.predict(X=iris_x_test)
iris_decisiontree_predictions

array([5.8 , 4.9 , 5.35, 5.5 , 5.8 , 6.4 , 5.4 , 5.6 , 5.5 , 6.7 , 5.2 ,
       6.6 , 5.35, 5.1 , 5.05, 6.4 , 6.4 , 5.1 , 6.5 , 6.4 , 5.35, 5.4 ,
       5.7 , 6.7 , 5.35, 5.6 , 5.6 , 4.9 , 6.7 , 6.3 , 6.8 , 6.1 , 5.  ,
       4.75, 5.4 , 6.4 , 6.8 , 5.1 ])

Below the steps are run in a single code cell.

In [40]:
from sklearn.tree import DecisionTreeRegressor
iris_decisiontree_algorithm   = DecisionTreeRegressor()
iris_decisiontree_model       = iris_decisiontree_algorithm.fit(X=iris_x_train,
                                                                y=iris_y_train)
iris_decisiontree_score       = iris_decisiontree_model.score(X=iris_x_test,
                                                              y=iris_y_test)
iris_decisiontree_predictions = iris_decisiontree_model.predict(X=iris_x_test)

(iris_decisiontree_score, 
 iris_decisiontree_predictions
)

(0.743413801953591,
 array([5.8 , 4.9 , 5.35, 5.5 , 5.8 , 6.4 , 5.4 , 5.6 , 5.5 , 6.7 , 5.2 ,
        6.4 , 5.35, 5.1 , 5.05, 6.4 , 6.5 , 5.1 , 6.3 , 6.4 , 5.35, 5.4 ,
        5.7 , 6.7 , 5.4 , 5.6 , 5.6 , 4.9 , 6.7 , 6.3 , 6.8 , 6.1 , 5.  ,
        4.75, 5.  , 6.4 , 6.8 , 5.1 ]))