<a href="https://colab.research.google.com/github/data-space/datalab-notebooks/blob/master/Python/9.%20Temporary/Workshop_Scikit_learn_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scikit-learn Workshop - 19 Nov 2019

## Setup

In [0]:
import pandas  as pd
import numpy   as np
import sklearn as sk

### Iris dataset

In [0]:
import pandas as pd
from sklearn.datasets import load_iris
iris_features = load_iris().data[:,1:]
iris_target   = load_iris().data[:,0]

### Diamonds dataset

In [3]:
import pandas as pd
diamonds_pdf = pd.read_csv('https://raw.githubusercontent.com/datalab-datasets/file-samples/master/diamonds.csv').drop(columns='Unnamed: 0')
diamonds_pdf.columns
diamonds_features = diamonds_pdf.drop(labels='price',axis=1)[['x','y','z']]
diamonds_target = diamonds_pdf['price']
diamonds_features.head()

      x     y     z
0  3.95  3.98  2.43
1  3.89  3.84  2.31
2  4.05  4.07  2.31
3  4.20  4.23  2.63
4  4.34  4.35  2.75

In [0]:
def get_boston_housing_pdf(): # for boston housing dataset
  from sklearn.datasets import load_boston
  feature_names = [name.lower() 
                   for name in load_boston().get('feature_names').tolist()
                  ]
  features_pdf = pd.DataFrame(data=load_boston().get('data'),
                              columns=feature_names
                             )
  target_pdf = pd.DataFrame(data={'price': load_boston().get('target')}
                           )
  return pd.concat([features_pdf, target_pdf],
                   axis='columns',
                   join='inner')

In [5]:
boston_housing_pdf = get_boston_housing_pdf().select_dtypes(include=['float','int'])

boston_housing_features = boston_housing_pdf.drop(labels='price',axis=1)
boston_housing_target = boston_housing_pdf['price']
boston_housing_features.head()

        crim    zn  indus  chas    nox  ...  rad    tax  ptratio       b  lstat
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

Our first step is to create a train dataset and a test dataset from our dataset, which is `iris_features` and `iris_target`. Use the `train_test_split` function from the `sklearn` library to do so.

In [0]:
from sklearn.model_selection import train_test_split
iris_x_train, iris_x_test, iris_y_train, iris_y_test = train_test_split(iris_features,
                                                    iris_target)

Notice that the train dataset is `iris_x_train` and `iris_y_train`, which correspond to the features and the target.

__Exercise__: create train and test datasets 
- for the `diamonds_features`, `diamonds_target` dataset called `diamonds_x_train`, `diamonds_x_test`, `diamonds_y_train`, `diamonds_y_test`
- for the `boston_housing_features`,`boston_housing_target` dataset called `boston_x_train`, `boston_x_test`, `boston_y_train`, `boston_y_test`

In both cases put the result of the

## Algorithms to models to prediction

Linear regression is an algorithm. This algorithm (and many others) have parameters that determine how they work. The Scikit-learn version of the linear regression algorithm has parameters named `copy_X`, `fit_intercept`, `n_jobs`, `normalize`. The values indicated below are defaults.

In [7]:
from sklearn.linear_model import LinearRegression
iris_linreg_algorithm = LinearRegression()
iris_linreg_algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

__Exercise__: Create algorithm objects for diamonds and boston, named `diamonds_linreg_algorithm` and `boston_linreg_algorithm`.

Recall that algorithms take train datasets as input and produce models as output. We do this for the iris dataset below, using the `fit` method of the .

In [8]:
iris_linreg_model = iris_linreg_algorithm.fit(X=iris_x_train,
                                              y=iris_y_train)
iris_linreg_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

__Exercise__: Create model objects for diamonds and boston, named `diamonds_linreg_model` and `boston_linreg_model`. Use the corresponding train dataset.

Recall that models take test datasets as input and produce predictions as output. We do this for the iris dataset below, using the `predict` method.

In [9]:
iris_linreg_predictions = iris_linreg_model.predict(X=iris_x_train)
iris_linreg_predictions

array([-0.07870716,  2.02394975,  1.70205248,  1.96663867,  1.32144332,
       -0.02194896,  1.59535215,  0.8975451 , -0.07334547,  1.01710798,
        1.59635632,  1.91724943,  1.34838262,  1.38818547,  1.75867784,
        1.20623796,  1.35944686,  1.16997602,  1.60145228,  1.42539587,
        0.97984287,  1.22089777,  1.5959051 ,  1.58462877, -0.00282991,
        1.20193409,  1.38290196, -0.10731187,  1.18030183, -0.09439467,
       -0.04740933,  1.32632925,  1.69394302,  0.04185888,  1.60781814,
        2.1721174 ,  1.75600926, -0.13976924,  0.06444166,  0.00950424,
       -0.08935236,  1.18907153,  2.0264855 ,  1.72777759,  2.06314602,
       -0.0812439 ,  2.22139722, -0.21289973,  1.18785734,  0.05794396,
        2.06087301,  0.01547253,  1.81384882, -0.00800405,  1.4023404 ,
        0.8608084 ,  2.09578893,  1.53418271,  1.48981131, -0.04244521,
       -0.01978525,  1.81799626,  1.29490059, -0.10028577, -0.01703849,
       -0.0110702 ,  1.51009754,  0.22174441,  0.10292096,  1.12185568,
        1.17098018, -0.04894291, -0.02958266, -0.02429915,  1.05865343,
        1.14195436,  0.18133496,  1.18901688,  1.77095728,  1.57739258,
       -0.15397682,  1.20000394,  1.20261987, -0.14808672,  1.92401086,
        1.98903389,  0.95498808, -0.01965342,  1.55179937, -0.03087403,
        1.74206435,  0.0176127 ,  1.92744341,  1.853971  ,  1.4566937 ,
        2.06998463,  1.99954725,  1.20309463,  2.05960416, -0.06624118,
        0.07130375,  1.74803364,  1.73622891, -0.1232094 ,  0.06573403,
       -0.03695168,  0.93333229,  1.85766628,  1.3409354 ,  1.82140433,
       -0.06027289,  0.14232724])

__Exercise__: Create predictions for diamonds and for boston named `diamonds_linreg_predictions` and `boston_linreg_predictions`.

In [10]:
iris_linreg_model.score(X=iris_x_test,
                        y=iris_y_test)

0.9436723920628814

__Exercise__: Create a score for the predictions for diamonds and for boston named `diamonds_linreg_score` and `boston_linreg_score`.

## Try other algorithms

In [12]:
from sklearn.tree import DecisionTreeRegressor
iris_decisiontree_algorithm = DecisionTreeRegressor()
iris_decisiontree_algorithm

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [14]:
iris_decisiontree_model = iris_decisiontree_algorithm.fit(X=iris_x_train,
                                                          y=iris_y_train)
iris_decisiontree_model

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [15]:
iris_decisiontree_predictions = iris_decisiontree_model.predict(X=iris_x_train)
iris_decisiontree_predictions

array([0., 2., 2., 2., 1., 0., 2., 1., 0., 1., 1., 2., 1., 1., 2., 1., 1.,
       1., 2., 1., 1., 1., 2., 2., 0., 1., 1., 0., 1., 0., 0., 1., 2., 0.,
       2., 2., 2., 0., 0., 0., 0., 1., 2., 2., 2., 0., 2., 0., 1., 0., 2.,
       0., 2., 0., 1., 1., 2., 2., 2., 0., 0., 2., 1., 0., 0., 0., 1., 0.,
       0., 1., 1., 0., 0., 0., 1., 1., 0., 1., 2., 2., 0., 1., 1., 0., 2.,
       2., 1., 0., 1., 0., 2., 0., 2., 2., 2., 2., 2., 1., 2., 0., 0., 2.,
       2., 0., 0., 0., 1., 2., 1., 2., 0., 0.])