# Dataset: Zillow

## Contents
1. Setup
2. Datafile
3. Read using SQL
4. Read using `read_csv` from `readr` (R)
5. Read using `read_csv` from `pandas` (Python)
6. Read using SQL into R and Python

## 1. Setup

In [0]:
%sh ls -hot /dbfs/mnt/datalab-datasets/zillow/*

In [0]:
properties_2016_filepath = 'https://github.com/datalab-datasets/zillow-prize/blob/master/properties_2016.csv?raw=true'
properties_2017_filepath = 'https://github.com/datalab-datasets/zillow-prize/blob/master/properties_2017.csv?raw=true'
train_2016_v2_filepath = 'https://github.com/datalab-datasets/zillow-prize/blob/master/train_2016_v2.csv?raw=true'
train_2017_filepath = 'https://github.com/datalab-datasets/zillow-prize/blob/master/train_2017.csv?raw=true'

## 5. Read using `read_csv` from `pandas` (Python)

- http://pandas.pydata.org/pandas-docs/version/0.19/generated/pandas.read_csv.html

In [7]:
import pandas as pd
pd.__version__

'0.25.3'

## Read the properties file

In [3]:
properties_2016_pdf = \
pd.read_csv(properties_2016_filepath)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
properties_2016_pdf \
  .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 58 columns):
parcelid                        int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  object
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode       object
propertylandusetypeid           float64
propertyzoningdesc              object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag              object
taxdelinquencyyear              float64
censustractandblock             float64
dtypes: float64(52), int64(1), object(5)
memory usage: 1.3+ GB

## Read the sales file

In [0]:
train_2016_v2_pdf = \
pd.read_csv(train_2016_v2_filepath)

In [9]:
train_2016_v2_pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90275 entries, 0 to 90274
Data columns (total 3 columns):
parcelid           90275 non-null int64
logerror           90275 non-null float64
transactiondate    90275 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.1+ MB

__The End__