# Python Basics

## Table of Contents

1. Types of values
1. Converting between types
1. Calculations
1. Variables

Notice the Python version. These notes are for Python 3.

In [0]:
import sys
print (sys.version)

## Types of values

There are four basic types of value in Python:
- Integers (`int`)
- Decimal numbers (`float`)
- Character strings (`str`)
- Logical variables (`bool`)

The `type` function displays the datatype of its argument.

In [0]:
type(3)

In [0]:
type(3.0)

In [0]:
type('hello')

In [0]:
type(True)

In [0]:
type(False)

## Converting between types

There are functions that convert their argument values to the indicted types.

In [0]:
int(3.0), type(int(3.0))

In [0]:
str(3.0)

In [0]:
float(3)

In [0]:
str(3)

In [0]:
bool(100.0)

In [0]:
bool(0)

In [0]:
bool(None)

In [0]:
bool(False)

## Calculations & operators

Below numeric, string and logical calculations are introduced.

### Numeric

Calculations are performed using _operators_. Some of the basic numeric operators for each type are listed below.

1. The familiar (numeric) arithmetic operators: `+`, `-`, `*`, `/`. 
2. The exponentiation operator is `**`.

Additional operators are introduced for non-numeric types.

In [0]:
2**3

2 raised to the power of 3

In [0]:
2+2

In [0]:
3.0 - 1

In [0]:
3*3

In [0]:
3.0*3

In [0]:
3.0/2.0

In [0]:
3/2

__Exercise__: What type is the result of arithmetic on:
- An `int` and a `float`?
- A `boolean` and an `int`?
- A `boolean` and a `float`?

### String

The two basic string operators are `+` and `*`.

In [0]:
"hello" + "goodbye"

In [0]:
3 * "12"

### Logical

There are three essential boolean/logical operations: `not`, `and`, `or`.

In [0]:
not True

In [0]:
True and False

In [0]:
True & False

In [0]:
True or False

In [0]:
True | False

## `in` operator (string, list)

The `in` operator tests for inclusion of the left argument in the right side argument.

In [0]:
"bc" in "abcde"

In [0]:
2 in [1,2,3,4]

In [0]:
3.0  in (1.0, 2.0, 3.0, 4.0)

In [0]:
3.0 in [1,2,3,4]

## Variables

Any value can be stored in and retrieved from a variable.

In [0]:
y = 3*3.987687687

In [0]:
y

In [0]:
y * y

__The End__