# Comprehensions

- http://book.pythontips.com/en/latest/comprehensions.html

## 1. List Comprehensions

List comprehensions might be thought of as an oddly formatted `for` loop inside square brackets that results in a list. 

First we demonstrate a `for` loop:

In [1]:
list(range(5))

[0, 1, 2, 3, 4]

In [2]:
for number in list(range(5)):
  print(number*"abc")

abc
abcabc
abcabcabc
abcabcabcabc

Notice that the loop does not have a return value. It only prints.

A list comprehension (see below) does the same work as the command below, but:
- it has a return value
- it cannot print values

In [3]:
multiples = [item*10 for item in range(5)]
multiples

[0, 10, 20, 30, 40]

An `if` clause can be added to return only values that match a specified condition.

In [4]:
multiples = [x*10 for x in range(5) if x % 2 == 0]
multiples

[0, 20, 40]

This operation (returning a list to be stored in a variable) could be accomplished with a `for` loop, but it looks a bit awkward.

In [5]:
y = []
for x in range(5):
  if x % 2 == 0:
    y.append(x*10)
y

[0, 20, 40]

It is better programming practice to use list comprehensions instead of the `append` method.

List comprehensions can be nested.

In [6]:
[10*x*y for x in [1,2,3] for y in [1, -1]]

[10, -10, 20, -20, 30, -30]

Notice that the resulting list contains one element for every combination of `x` in `[1,2,3]` and `y` in `[1, -1]`.

Dictionary and set comprehensions can also be nested.

In [24]:
[
    (ndx,'abc'*ndx)
    for upper_bound in [1,2,3,4] 
    for ndx in range(upper_bound)
]

[(0, ''),
 (0, ''),
 (1, 'abc'),
 (0, ''),
 (1, 'abc'),
 (2, 'abcabc'),
 (0, ''),
 (1, 'abc'),
 (2, 'abcabc'),
 (3, 'abcabcabc')]

Notice that the for loops in the list comprehension are arranged as you would write them as nested for loops.

In [25]:
for upper_bound in [1,2,3,4]:
  for ndx in range(upper_bound):
    print(ndx,'abc'*ndx)

0
0
1 abc
0
1 abc
2 abcabc
0
1 abc
2 abcabc
3 abcabcabc

## 2. Dictionary Comprehensions

Dictionary comprehensions might be thought of as an oddly formatted `for` loop inside curly brackets that results in a dictionary. 
   
First create a sample dictionary.

In [7]:
some_dict = {"a":1, "b":2, "c":3, "d":4}
some_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Recall that the elements of a dictionary are key-value pairs. 
These pairs can be retrieved with the `items` method.

In [8]:
some_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

Notice that the `items()` method returns a list of 2-tuples.

The `list` function can return this into a familiar list.

In [9]:
list(some_dict.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

A dictionary can be created from the 2-tuples returns by the `items` method. 

The dictionary comprehension created below contains only the key-value pairs where the value is even.

In [10]:
{k:v
   for (k, v)
   in some_dict.items()
   if v % 2 == 0
}

{'b': 2, 'd': 4}

Notice that the key and value of the resulting dictionary can be changed.

In [11]:
{k:10*v
 for (k, v)
 in some_dict.items()
 if v % 2 == 0
}

{'b': 20, 'd': 40}

Notice,  that the value was changed above and the key is changed below.

In [12]:
{k+k:v
   for (k, v)
   in some_dict.items()
}

{'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4}

Of course, both can be changed.

In [13]:
{k+k:10*v
   for k, v
   in some_dict.items()
}

{'aa': 10, 'bb': 20, 'cc': 30, 'dd': 40}

## 3. Set Comprehensions

A set comprehension looks like a dictionary comprehension, but does not include a value.

For this reason it will not contain duplicates.

In [14]:
squared = {x**2  for x in [-1, 1, 2]}
squared

{1, 4}

In [15]:
{(m, n) for n in range(2) for m in range(3, 5)}

{(3, 0), (3, 1), (4, 0), (4, 1)}

Notice that set comprehensions do not have duplicates.

__The End__