# Methods and Objects

## Table of Contents
1. Objects
1. String Methods
1. List Methods

## Objects

Everything in Python is an object. Almost all objects (in Python) have:
- Attributes, which are variables that store values in the object
- Methods, which are functions that modify the object and/or return other values

Each object has a class, which determines the attributes and methods available to objects of that class. . .

The list of available methods of an object can be retrieved with the `dir` function. 

The private methods (which can't be accessed) start with an underscore. (Ignore them. Don't use them.)

Below we present methods of strings and lists. Notice that the method "knows about" the contents of the string or list object.

## String methods

In [2]:
"boston".capitalize()

'Boston'

In [3]:
"boston".upper()

'BOSTON'

__Exercise__: Choose five string methods from the above below and use them successfully on a string. 

For example,

In [0]:
dir("nǐ hǎo")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## List Methods

__Exercise__: Choose five list methods and use them successfully on a list. Find the list methods with the `dir` function.

In [0]:
x = [1, ["a", "b", "c"], [True, False], [1,2], 1]
x.count(1)

2

## Dataframe methods and attributes

In [13]:
import pandas as pd
my_pdf = pd.DataFrame(data={'col_a': [1,2,3],
                            'col_b': ['x','y','z']})
my_pdf

   col_a col_b
0      1     x
1      2     y
2      3     z

In [14]:
my_pdf.shape

(3, 2)

In [15]:
my_pdf.head(2)

   col_a col_b
0      1     x
1      2     y

__The End__