# `pandas` - Single Table Verbs

## Contents
1. Setup
1. Rename columns
1. Modify columns
1. Sort rows
1. Sample rows
1. Filter rows

The summarization and grouping verbs are described in the `Summarization` notebook.

## Reference
- https://pandas.pydata.org/pandas-docs/stable/indexing.html
- http://pandas.pydata.org/pandas-docs/stable/index.html
- https://pandas.pydata.org/pandas-docs/stable/dsintro.html

## 1. Setup

Load libraries.

In [6]:
import pandas  as pd
import numpy   as np
(pd.__version__,
 np.__version__
)

The most common way to create a DataFrame is to use the `read_csv` (pandas) function to read a CSV file. 

Another common technique is to use the `DataFrame` function, which has these three parameters:
1. `data`, which is a numpy array, a dictionary or another DataFrame (examples of each follow)
1. `index`, which is a list of the names of the rows
1. `columns`, which is a list of the names of the columns

There are two additional parameters that are not described here. For those details and more see:
- http://pandas.pydata.org/pandas-docs/version/0.19/generated/pandas.DataFrame.html#pandas.DataFrame

Create a sample dataframe for the demonstrations below.

In [9]:
df_col = pd.DataFrame(data=[[100, 200, 300, 400],
                            [101, 201, 301, 401],
                            [102, 202, 302, 402]], 
                      columns=['col_a', 'col_b', 'col_c', 'col_d']
                     )
df_col

## 2. Rename Columns
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html

Read a dataframe from a CSV file, replace `-` with `_` in the column names and set `?` to be a missing value indicator.

In [12]:
column_names = ['symboling', 'normalized_losses', 'make', 'fuel-type',
                'aspiration', 'num_of_doors', 'body_style', 'drive_wheels',
                'engine_location', 'wheel_base', 'length', 'width',
                'height', 'curb_weight', 'engine_type', 'num_of_cylinders',
                'engine_size', 'fuel_system', 'bore', 'stroke',
                'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
                'highway_mpg', 'price']
import_df = pd.read_csv('/dbfs/mnt/datalab-datasets/file-samples/imports-85.csv',
                        names=[string.replace('-','_') for string in column_names],
                        na_values=['?']
                       )

Rename the column names using `rename` method with a dict. The `columns` attribute displays a list of column names.

In [14]:
rename_df = import_df.rename(columns={'city_mpg'   : 'mpg_city',
                                      'highway_mpg': 'mpg_highway'
                                     })
rename_df.columns

## 3. Modify Columns

From the documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.assign.html

> Assigning multiple columns within the same assign is possible, but you cannot reference other columns created within the same assign call.

Assign new columns to the sample dataframe `df_col` using the `assign` method. It returns a new object (a copy) with the new columns added to the original ones.

In [18]:
df_col.assign(apb = df_col.col_a    + df_col.col_b, 
              ctd = df_col['col_c'] * df_col['col_d'])

## 4. Sort Rows

- http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.sort_values.html

The `sort_values` method in the following code cell sorts rows by the ascending `horsepower` values. Use `head()` function to return the first 5 rows and the 4 columns (`horsepower`,`make`,`city_mpg`,`highway_mpg`) of the dataframe.

In [22]:
import_df.sort_values(by='horsepower',
                      axis=0, 
                      ascending=True
                     )[['horsepower','make','city_mpg','highway_mpg']
                      ].head()

In [23]:
import_df.sort_values(by='horsepower',
                      axis=0, 
                      ascending=True
                     ) \
         .loc[:,['horsepower','make','city_mpg','highway_mpg']] \
         .head()

## 5. Sample Rows
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

See also parameters for: `frac`, `replace` and `weight`

The `sample` method extract 10 random elements (since n=10) from the `import_df` dataframe object.

In [26]:
import_df.sample(n=10)[['horsepower','make','city_mpg','highway_mpg']]

## 6. Filter Rows
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html
- https://pythonspot.com/pandas-filter/

Filter rows by indexing with a boolean expression.

In [29]:
import_df[import_df.make=="toyota"][['make','body_style','city_mpg','highway_mpg']].head()

In [30]:
import_df[import_df.make == "toyota"][['make','body_style','city_mpg','highway_mpg']].head()

Filter rows by calling the `query` method with a boolean expression. This expression is based on the column names. The query method will return a new filtered dataframe.

In [32]:
import_df.query('make=="toyota"')[['make','body_style','city_mpg','highway_mpg']].head()

__The End__